<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
 <!--  {%block title%}
  <title>Home Page</title>
  {%endblock%} -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: rgb(112, 16, 21);
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  </style>
</head>
<body>

<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/" style="color: #f5f6f7;">HOME</a>
      <!-- <a class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true" href="/">Home</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      	<!-- <a class="navbar-brand" href="/" style="color: #f5f6f7;">login&nbsp;&nbsp;</a> -->


      	<!-- <a class="navbar-brand" href="/" style="color: #f5f6f7;"> &nbsp;&nbsp; register</a> -->
      	<!-- <a class="navbar-brand" href="/" style="color: #f5f6f7;">settings</a> -->
        
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Who Am I?</h3>
  <img src="https://seeklogo.com/images/A/a-i-artificial-intelligence-logo-EC5FBC89DC-seeklogo.com.png" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>Artifical Intelligence Plant Detection</h3>
</div>

<!-- Second Container -->

<div class="container-fluid bg-2 text-center">
  <!-- <h3 class="margin">What To Do??</h3>
  <p>Please upload the Image Below to see the results of what disease caused to your plant</p> -->
  {% block content %}

  {% endblock %}
  <!-- <a href="#" class="btn btn-default btn-lg">

    <span class="glyphicon glyphicon-search"></span> Search -->
  <!-- </a> -->
  
</div>


<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">How we made it?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <b style="size: 110%">Deep Learning models</b>
      <br><br>
      <p style="font-size: 100%">In deep learning, a convolutional neural network (CNN) is a class of artificial neural network, most commonly applied to analyze visual imagery.</p>
      <!-- <img src="https://earthsky.org/upl/2018/05/deep-learning-quora.png" class="img-responsive margin" style="width:100%" alt="Image"> -->
      <img src="https://media0.giphy.com/media/rgzOwma0qMbM3x7Fqi/giphy.gif?cid=ecf05e4770u1x6z4ix126gl8vplklo7tijrzwvgaxefzyv6m&rid=giphy.gif&ct=g" class="img-responsive margin" style="display:inline" alt="Image">
      
    </div>
    <div class="col-sm-4"> 
    <b style="size: 110%">Artificial intelligence</b>
      <br><br>
      <p style="font-size: 100%">Artificial intelligence (AI) is intelligence demonstrated by machines, as opposed to natural intelligence displayed by animals including humans.</p>
      <!-- <img src="https://dcassetcdn.com/design_img/3114404/592784/592784_17231514_3114404_c1ed5b7e_image.jpg" class="img-responsive margin" style="width:100%" alt="Image"> -->
      <img src="https://media2.giphy.com/media/lkdIhnHHnFma6xvICt/giphy.gif?cid=ecf05e47kcjy3k0u7n9sex17py6kfsaw8p7w11v1xm8oxpuc&rid=giphy.gif&ct=g" class="img-responsive margin" style="display:inline" alt="Image">
      
    </div>
    <div class="col-sm-4">
    <b style="size: 110%">Plants Data set</b>
      <br><br> 
      <p style="font-size: 100%">We used the research papers plant disease images to train the model.we have used only 38 species of plants to train used the resnet34 model to train it.</p>
      <img src="https://media0.giphy.com/media/sGtxW1FPlk030H0drn/giphy.gif?cid=ecf05e47465fc4tg6tsvtorpvhhlg8ajdnixbupovro3t7le&rid=giphy.gif&ct=g" class="img-responsive margin" style="display:inline" alt="Image">
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
	<b style="font-size: 100%"> My Linkedin Profile <a href="https://www.linkedin.com/in/saiteja14" style="color:rgb(65,105,225);">click here</a> 
	</b>
</footer>
</body>
</html>
